SCHEMAS={{ orm_schemas | join(',') }}
DIRECTORY={{ orm_directory_name_effective }}
DUMPFILE={{ orm_dump_basename }}
LOGFILE={{ orm_datapump_log_basename }}
{% if orm_backup_compression | length > 0 %}COMPRESSION={{ orm_backup_compression }}
{% endif %}{% for item in orm_backup_exclude %}EXCLUDE={{ item }}
{% endfor %}{% if orm_backup_extra_args | trim | length > 0 %}{{ orm_backup_extra_args | trim }}
{% endif %}
